.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 64px;
    background-color: var(--ifm-color-primary);

    @media (--ifm-narrow-window) {
        padding: 32px;
    }

    & > h1 {
        font-size: 3rem;
        color: var(--ifm-font-color-base-inverse);
        text-align: center;
    }

    & > p {
        font-size: 1.5rem;
        color: var(--ifm-font-color-base-inverse);
        text-align: center;
    }
}

.featureSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    max-width: 1280px;
    padding-block: 32px;
    margin-inline: auto;

    & > * {
        flex: 1 0 0%;
        padding-inline: 16px;
        text-align: center;

        @media (--ifm-narrow-window) {
            min-width: 100%;
        }
    }
}

.featureSvg {
    width: 200px;
    height: 200px;
}

@custom-media --ifm-narrow-window (max-width: 996px);
