@custom-media --ifm-narrow-window (max-width: 996px);

.header {
    padding: 64px;
    color: var(--ifm-font-color-base-inverse);
    background-color: var(--ifm-color-primary);

    .headerBackground {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
        margin-inline: auto;

        & > div {
            display: flex;
            flex-direction: column;
        }

        & > svg {
            width: 380px;
            height: 300px;
        }

        & h1 {
            font-size: 3rem;
        }

        & p {
            max-width: 500px;
            font-size: 1.5rem;
        }

        @media (--ifm-narrow-window) {
            flex-direction: column;
            gap: 16px;
        }
    }

    @media (--ifm-narrow-window) {
        padding: 32px;
        text-align: center;
    }
}

.featureSection {
    display: flex;
    justify-content: stretch;
    max-width: 1280px;
    padding-block: 32px;
    margin-inline: auto;

    & > * {
        flex: 1 0 0%;
        padding-inline: 16px;
        text-align: center;
    }

    @media (--ifm-narrow-window) {
        flex-direction: column;
    }
}

.featureSvg {
    width: 200px;
    height: 200px;
}
